body {
    background-image: url("patas-zoom.png");
    background-repeat: repeat;
    font-family:'Times New Roman';
    padding-top:110px;
    padding-bottom:0;
    font-size: 15pt;
    margin:0;
    
/*
    animation-name: "bgAnimation";
    animation-delay: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
*/
}

@keyframes bgAnimation {
    from {background-position: 0px 0px;}
    to {background-position: 128px 128px;}
}

p {
  text-align: justify;
}

.references {
    font-size: 16pt;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    border-width: 5px;
    border-style: double;
    background-color: #FFEECD;
    
    /* NOTE: top, right, bottom, left */
    /* ATTRIBUTE VALUES SPIN CLOCKWISE */
    padding: 20px;
    margin: 10px 15% 10px 15%;
    border-color: darkred;
}

.page_content h1 {
    color:red;
}

.toolbar {
    position:fixed;
    justify-content: space-between;
    align-items:center;
    top:0;
    left:0;
    width:100%;
    min-height: 30px;
    display:flex;
    box-shadow: 0 5px 5px rgba(2, 2, 30, 2);
    background-color: #330000;
    border-color: #FFFFFF; 
    padding:0px;
    border-style:double;
    border-width:5px 0px;
    box-sizing:border-box;
}

.toolbar .logo{
    font-weight:bold;
    padding-left:10px;

    text-shadow: 0 0 0 #000;
    color:white;
    transition: text-shadow 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.toolbar .logo:hover{
    color:#FFCCCC;
    text-shadow: 1px 1px 10px #FFFFFF;
}


.toolbar nav {
    display:flex;
    text-wrap:wrap;
}

.toolbar nav a {
    margin:0 0.8em;
    text-decoration:none;
    
    text-shadow: 0 0 0 #000;
    color:white;
    transition: text-shadow 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.toolbar nav a:hover {
    color:#FFCCCC;
    text-shadow: 1px 1px 7px #FFFFFF;
}

.toolbar navButton {
    display: none;
}

.page_content {
    font-size: 16pt;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    border-width: 5px;
    border-style: double;
    background-color: #FFEECD;
    
    /* NOTE: top, right, bottom, left */
    /* ATTRIBUTE VALUES SPIN CLOCKWISE */
    padding: 20px;
    margin: 10px 15% 10px 15%;
    border-color: darkred;
}

.contact {
    position:relative;
    bottom:0px;
    left:0px;
    margin:0 -10px -10px -10px;
    padding: 8px 16px;
    box-sizing: border;
    
    width:100%;
    min-height:128px;
    color: white;
    background-color: #330000;
    text-align: center;
}

.contact a {
    color: #FF9999;
    transition: text-shadow 0.2s ease-in-out;
}

.contact a:hover {
  text-shadow: 1px 1px 10px #FFFFFF;
  color: #FF9999
}

@media only screen and (max-width:600px) {
    .toolbar .navButton {
        display:  flex;
        border-color: white;
        border-width: 4px;
        border-radius: 4px;
        box-sizing: border-box;
        
        padding:  10px;
        margin:   10px;
        width:    30%;
    }
    
    .toolbar nav {
        display: none;
    }
    
    .page_content {
        
    }
}

